#jinja2: lstrip_blocks: True
{% if aaa is defined and aaa_xmlns is defined %}
{% if 'usernames' in aaa.keys() and aaa['usernames'] | length > 0 %}
    <aaa xmlns="{{ aaa_xmlns }}">
        <usernames>
{% for username in aaa['usernames'] %}
            <username>
                <name>{{ username['name'] }}</name>
                {% if 'usergroup-under-usernames' in username.keys() and username['usergroup-under-usernames'] | length > 0 %}
                <usergroup-under-usernames>
                    {% for usergroup in username['usergroup-under-usernames'] %}
                    <usergroup-under-username>
                        <name>{{ usergroup['name'] }}</name>
                    </usergroup-under-username>
                    {% endfor %}
                </usergroup-under-usernames>
                {% endif %}
                <secret>{{ username['secret'] }}</secret>
            </username>
{% endfor %}
        </usernames>
    </aaa>
{% endif %}
{% endif %}