#jinja2: lstrip_blocks: True
<config>
  <syslog xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg">
    <host-server>
      <vrfs>
      {% for vrf in syslog_servers.keys() %}
        <vrf>
          {% if '&foreign-key&' in vrf %}
          {% set mapped_vrf = struct_mappings[vrf] %}
          {% endif %}
          <vrf-name>{{ mapped_vrf }}</vrf-name>
          <ipv4s>
          {% for host in syslog_servers[vrf]["hosts"] %}
            <ipv4>
              <address>{{ host["ip_addr"] }}</address>
              <ipv4-severity-port>
                <severity>{{ host["severity"] }}</severity>
              </ipv4-severity-port>
            </ipv4>
          {% endfor %}
          </ipv4s>
        </vrf>
      {% endfor %}
      </vrfs>
    </host-server>
  </syslog>
</config>