#jinja2: lstrip_blocks: True
<qosrouter6000:qos xmlns:qosrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-qos-router6000">
    {% for class_map in classes_map %}
    <qosrouter6000:class-map>
        <qosrouter6000:map-name>{{ class_map['name'] }}</qosrouter6000:map-name>
        <qosrouter6000:{{ class_map['from'] }}>
            <qosrouter6000:{{ class_map['type'] }}/>
            {% for key, values in class_map['qos'].items() %}
            {% if values['first'] is not defined %}
            {% for value in values['values'] %}
            <qosrouter6000:{{ class_map['from'] }}{% if class_map['from'] == "ip" or class_map['from'] == "mpls" %}-map{% endif %}>
                {% if class_map['from'] == "ip" %}
                <qosrouter6000:dscp-value>{{ value }}</qosrouter6000:dscp-value>
                {% elif class_map['from'] == "mpls" %}
                <qosrouter6000:mpls-value>{{ value }}</qosrouter6000:mpls-value>
                {% elif class_map['from'] == "qos" %}
                <qosrouter6000:pd-value>{{ value }}</qosrouter6000:pd-value>
                {% endif %}
                {% if class_map['to'] == "qos" and class_map['from'] == "ip" %}
                <qosrouter6000:to/>
                <qosrouter6000:{{ class_map['to'] }}/>
                <qosrouter6000:pd-value>{{ key }}</qosrouter6000:pd-value>
                {% elif class_map['to'] == "qos" and class_map['from'] == "mpls" %}
                <qosrouter6000:to>
                    <qosrouter6000:qos>{{ key }}</qosrouter6000:qos>
                </qosrouter6000:to>
                {% elif class_map['to'] == "mpls" and class_map['from'] == "qos" %}
                <qosrouter6000:qos-choice>
                    <qosrouter6000:mpls>{{ key }}</qosrouter6000:mpls>
                </qosrouter6000:qos-choice>
                {% endif %}
            </qosrouter6000:{{ class_map['from'] }}{% if class_map['from'] == "ip" or class_map['from'] == "mpls" %}-map{% endif %}>
            {% endfor %}
            {% elif values['first'] is defined and values['last'] is defined %}
            {% for i in range(values['first'] | int , values['last'] | int) %}
            <qosrouter6000:{{ class_map['from'] }}{% if class_map['from'] == "ip" or class_map['from'] == "mpls" %}-map{% endif %}>
                {% if class_map['from'] == "ip" %}
                <qosrouter6000:dscp-value>{{ i }}</qosrouter6000:dscp-value>
                {% elif class_map['from'] == "mpls" %}
                <qosrouter6000:mpls-value>{{ i }}</qosrouter6000:mpls-value>
                {% elif class_map['from'] == "qos" %}
                <qosrouter6000:pd-value>{{ i }}</qosrouter6000:pd-value>
                {% endif %}
                {% if class_map['to'] == "qos" and class_map['from'] == "ip" %}
                <qosrouter6000:to/>
                <qosrouter6000:{{ class_map['to'] }}/>
                <qosrouter6000:pd-value>{{ key }}</qosrouter6000:pd-value>
                {% elif class_map['to'] == "qos" and class_map['from'] == "mpls" %}
                <qosrouter6000:to>
                    <qosrouter6000:qos>{{ key }}</qosrouter6000:qos>
                </qosrouter6000:to>
                {% elif class_map['to'] == "mpls" and class_map['from'] == "qos" %}
                <qosrouter6000:qos-choice>
                    <qosrouter6000:mpls>{{ key }}</qosrouter6000:mpls>
                </qosrouter6000:qos-choice>
                {% endif %}
            </qosrouter6000:{{ class_map['from'] }}{% if class_map['from'] == "ip" or class_map['from'] == "mpls" %}-map{% endif %}>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </qosrouter6000:{{ class_map['from'] }}>
    </qosrouter6000:class-map>
    {% endfor %}
</qosrouter6000:qos>