    {% for view in snmp["views"].keys() %}
    {% for include in snmp["views"][view]['includes'] %}
    <snmpr6k:view>
        <snmpr6k:name>{{ view }}</snmpr6k:name>
        <snmpr6k:oid-tree>{{ include }}</snmpr6k:oid-tree>
        <snmpr6k:restriction>included</snmpr6k:restriction>
    </snmpr6k:view>
    {% endfor %}
    {% endfor %}