    <snmpr6k:target-parameters>
        <snmpr6k:parameter-name>Param_SnmpAdmin</snmpr6k:parameter-name>
        <snmpr6k:security-name>
            <snmpr6k:user-name>
                <snmpr6k:user-name>SnmpAdmin</snmpr6k:user-name>
                <snmpr6k:version-3/>
                <snmpr6k:security-level>priv</snmpr6k:security-level>
            </snmpr6k:user-name>
        </snmpr6k:security-name>
    </snmpr6k:target-parameters>