    <snmpr6k:notify>
        <snmpr6k:notify-name>Notify-Inform</snmpr6k:notify-name>
        <snmpr6k:notify-tag>Tag-Inform</snmpr6k:notify-tag>
        <snmpr6k:type>trap</snmpr6k:type>
    </snmpr6k:notify>