    <snmpr6k:server>
        <snmpr6k:enhance-ifmib/>
        <snmpr6k:traps>
            <snmpr6k:ifmib-ip/>
        </snmpr6k:traps>
        <snmpr6k:alarms-config>
            <snmpr6k:bgpEstablishedNotification/>
            <snmpr6k:mplsLdpSessionUp/>
        </snmpr6k:alarms-config>
    </snmpr6k:server>