#jinja2: lstrip_blocks: True  
<snmpr6k:snmp>
    {% include 'snmp_server.j2' %}

    {% include 'snmp_view.j2' %}

    {% include 'snmp_group.j2' %}

    {% include 'snmp_user.j2' %}

    {% include 'snmp_notify.j2' %}

    {% include 'snmp_target.j2' %}

    {% include 'snmp_notify_target.j2' %}

    {% include 'snmp_alarm.j2' %}
    
</snmpr6k:snmp>