    <snmpr6k:notify-target>
        <snmpr6k:ntfytrgt-name>ENM_SnmpAdmin_v3</snmpr6k:ntfytrgt-name>
        <snmpr6k:ipos-choice>
            <snmpr6k:ipos-choice-choice>10.182.193.23/32</snmpr6k:ipos-choice-choice>
            <snmpr6k:address-context>"PLATFORM-MGMT-VRF"</snmpr6k:address-context>
            <snmpr6k:tag/>
            <snmpr6k:tag-val>Tag-Inform</snmpr6k:tag-val>
            <snmpr6k:param/>
            <snmpr6k:parm-val>Param_SnmpAdmin</snmpr6k:parm-val>
        </snmpr6k:ipos-choice>
    </snmpr6k:notify-target>