    {% for user in snmp['users'].keys() %}
    <snmpr6k:user>
        <snmpr6k:user-name>{{ user }}</snmpr6k:user-name>
        <snmpr6k:user-choice>
            <snmpr6k:engine-local>
                <snmpr6k:group>{{ snmp['users'][user]['group'] }} </snmpr6k:group>
                <snmpr6k:security-model-usm>
                    <snmpr6k:{{ snmp['users'][user]['hash'] }}>
                        <snmpr6k:key>
                            <snmpr6k:encoded>
                                <snmpr6k:{{ snmp['users'][user]['encode'] }}>{{ snmp['users'][user]['secret']['hashed'] }}</snmpr6k:{{ snmp['users'][user]['encode'] }}>
                            </snmpr6k:encoded>
                            <snmpr6k:{{ snmp['users'][user]['encrypt'] }}>{{ snmp['users'][user]['secret']['encrypted'] }}</snmpr6k:{{ snmp['users'][user]['encrypt'] }}>
                        </snmpr6k:key>
                    </snmpr6k:{{ snmp['users'][user]['hash'] }}>
                </snmpr6k:security-model-usm>
            </snmpr6k:engine-local>
        </snmpr6k:user-choice>
    </snmpr6k:user>
    {% endfor %}