    {% for group in snmp['groups'].keys() %}
    <snmpr6k:group>
        <snmpr6k:group-name>{{ group }}</snmpr6k:group-name>
        <snmpr6k:security-model>
            <snmpr6k:usm>
                <snmpr6k:usm-type>priv</snmpr6k:usm-type>
                <snmpr6k:usm-context>
                    <snmpr6k:all-contexts>
                        <snmpr6k:read>{{ snmp['groups'][group]["view"] }}</snmpr6k:read>
                        {% if snmp['groups'][group]["notify"] is defined %}
                        <snmpr6k:notify>snmp['groups'][group]["notify"] }}</snmpr6k:notify>
                        {% endif %}
                    </snmpr6k:all-contexts>
                </snmpr6k:usm-context>
            </snmpr6k:usm>
        </snmpr6k:security-model>
    </snmpr6k:group>
    {% endfor %}