{% if interfaces is defined %}
{% for interface in interfaces %}
{# ----------------------------- Int LAG Config ----------------------------- #}
{% if interface["type"] != "loopback" or interface["type"] is not defined %}
interface {{ interface["neighbor"] | get_interface_name }} 
 description {{ interface["neighbor"] }}:{{ interface["neighbor"] | get_lag_name }}
 propagate qos from ip class-map QCM-CORE-DSCP-IN
 ip address {{ interface["ip_addr"] }}
{% endif %}

{# ----------------------------- BFD Int Config ----------------------------- #}
{% if interface["type"] != "loopback" and (interface["bfd"] is not defined or interface["bfd"]) %}
router bfd
 micro-neighbor {{ interface["ip_addr"] | get_neighbor_ip }} {{ interface["neighbor"] | get_lag_name }} {{ interface["ip_addr"] | remove_netmask }} 
 minimum transmit-interval {{ bfd["minimum_transmit_interval"] }}
 minimum receive-interval {{ bfd["minimum_receive_interval"] }} 
 detection-multiplier {{ bfd["detection_multiplier"] }}
{% endif %}

{# ----------------------------- ISIS Int Config ----------------------------- #}
{% if interface["type"] != "loopback" and (interface["isis"] is not defined or interface["isis"]) %}
router isis
 interface {{ interface["neighbor"] | get_interface_name }}
  bind to link-group
  hello padding always
  lsp interval 100
  lsp retransmit-interval 1
  authentication key-chain KEY-ISIS 
  circuit {{ isis["circuit_mtu"] }}
  address-family ipv4 unicast
   metric 50
   lfa
{% endif %}

{# ----------------------------- LAG INT Config ----------------------------- #}
{% if interface["type"] != "loopback" and (interface["lag"] is not defined or interface["lag"]) %}
link-group {{ interface["neighbor"] | get_lag_name }}
 description {{ interface["neighbor"] }}:{{ interface["neighbor"] | get_lag_name }}
 no shutdown
 qos pwfq scheduling physical-port
 maximum-links {{ lag["maximum_links"] }}
 lacp active
 lacp periodic-timeout long
 bind interface {{ interface["neighbor"] | get_interface_name }} local
 qos policy queuing QPO-CORE-10G 
{% endif %}

{# ----------------------------- Port    Config ----------------------------- #}
{% if interface["type"] != "loopback" and (interface["physical"] is not defined or interface["physical"]) %}
{% for port in interface["physical"] %}
port ethernet {{ port["name"] }} {{ port["speed"] }}ge 
 description {{ interface["neighbor"] }}:XXXXXXX:{{ port["circuit_code"] }}:{{ port["m1400"] }}
 mtu {{ mtu_size }}
 link-dampening up {{ link_dampening["up"] }} down {{ link_dampening["down"] }}
 no shutdown
 link-group {{ interface["neighbor"] | get_lag_name }}

{# ----------------------------- PTP Port Config ----------------------------- #}
synchronization
 ptp-clock g8275-2 t-bc-p
  acquiring-state announce default-ds
  ptp-port {{  port["name"] | extract_port_index_value }}
   no shutdown 
   transport interface {{ interface["neighbor"] | get_interface_name }} local

{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
